/* ===== FONT GOOGLE ===== */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* ===== Add the Tailwind directives to your CSS ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== REUSABLE CSS CLASS ===== */
@layer components {
  /* section class */
  .section {
    @apply pt-32 pb-16;
  }
  .section-subtitle {
    @apply block text-[15px] bg-gradient-to-tr from-red to-yellow font-medium mb-2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section-title {
    @apply text-[28px] text-black font-semibold mb-4;
  }
  .section-text {
    @apply text-[15px] text-grey leading-text mb-8;
  }

  /* button class */
  .button {
    @apply flex justify-center items-center gap-2 text-[15px] text-white font-medium py-4 px-8 rounded-2xl;
  }
  .button-gradient {
    @apply bg-gradient-to-tr from-red to-yellow;
  }
}

/* ===== HEADER SECTION ===== */
@media screen and (max-width: 767px) {
  .header__menu {
    @apply fixed w-[80%] top-28 left-0 right-0 mx-auto text-center p-8 bg-body rounded-[2rem] bg-opacity-50 backdrop-blur opacity-0 scale-y-0 origin-[0%_0%] transition-all duration-400;
  }
}
.header__link.active-link {
  @apply font-medium bg-gradient-to-tr from-red to-yellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__menu.show-menu {
  @apply opacity-100 scale-y-100;
}
